<header class="main_h" >
    <div class="row">
        <a class="logo" href="#">P/F</a>
        <div class="mobile-toggle" >
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav >
            <ul>
                <li><a href="#sec01">Pdf Splitter</a></li>
                <li><a href="#sec02">Pdf to Word</a></li>
                <li><a href="#sec03">Section 03</a></li>
                <li><a href="#sec04">Section 04</a></li>
            </ul>
        </nav>

    </div><!-- / row -->
</header>


<div class="hero">
    <h1>Everything PDF</h1>

</div>


<div class="row content">
    
    <div>
        <h1 id="sec01" class="sec01">Pdf Splitter</h1>
        <app-pdfsplitter></app-pdfsplitter>
    </div>
    <div>
        <h1 id="sec02" class="sec02">Pdf to Word</h1>
        <app-pdftoword></app-pdftoword>
    </div>
    <p>Quidem, cupiditate.</p>
    <h1 id="sec03" class="sec03">Section 03</h1>
    <p>Quidem, cupiditate.</p>
    <h1 id="sec04" class="sec04">Section 04</h1>
    <p>Quidem, cupiditate.</p>
</div>
