<header class="main_h">
    <div class="row">
        <a class="logo" href="#">E/Pdf</a>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="#sec01">Pdf Splitter</a></li>
                <li><a href="#sec02">Pdf to Word</a></li>
                <li><a href="#sec03">Pdf Merger</a></li>
                <li><a href="#sec04">Pdf Compress</a></li>
            </ul>
        </nav>

    </div><!-- / row -->
</header>


<div class="hero">
    <h1>E--PDF</h1>

</div>


<div class="row content">

    <div>
        <h1 id="sec01" class="sec01">Pdf Splitter</h1>
        <app-pdfsplitter></app-pdfsplitter>
        <p>Description</p>
        <p>The PDF splitter tool is designed to provide users with the ability to break down large PDF files into
            separate and manageable files. However, it is important to note that the tool has a limitation. If the PDF
            file exceeds 5 pages, the tool will not split the file and no action will be taken.</p>
    </div>
    <div>
        <h1 id="sec02" class="sec02">Pdf to Word</h1>
        <app-pdftoword></app-pdftoword>
        <p>Description</p>
        <p>The PDF to Word conversion tool allows users to easily convert PDF files into MS Word or DOCX format. This
            tool utilizes the CloudConvert API for the conversion process. However, it is important to note that there
            are limitations in place due to the usage of the free version of the API. Currently, the tool has a minimum
            limit on the size or number of PDFs that can be converted.</p>
    </div>
    <div>
        <h1 id="sec03" class="sec03">Pdf Merger</h1>
        <app-pdfmerger></app-pdfmerger>
        <p>Description</p>
        <p>The PDF merger tool enables users to combine multiple PDF files into a single document. This can be useful
            for organizing and consolidating information from various sources into one easy-to-access file. The tool is
            designed to be user-friendly and efficient, allowing for quick and easy merging of PDFs.</p>
    </div>
    <h1 id="sec04" class="sec04">Pdf Compress</h1>
    <app-pdfcompress></app-pdfcompress>
    <p>Description</p>
    <p>A tool that reduces the file size of PDFs without significantly impacting the quality or readability. Compressed
        PDFs are easier to share, upload, and store, making them more efficient for users.</p>
</div>